.header {
    height: 55px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    top: 0;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(156, 152, 152, 0.492);
    left: 0;
    right: 0;
    z-index: 100;
    height: 60px;
    border-color: rgb(240, 239, 239);
    background-color: rgba(255, 255, 255);
}

.left-section {
     align-items: center;
     display: flex;
}

.middle-section {
     flex: 1;
     display: flex;
     align-items: center;
     max-width: 500px;
     margin-left: 70px;
     margin-right: 30px;
}

.right-section {
     width: 200px;
     align-items: center;
     margin-right: 20px;
     flex-shrink: 0;
     display: flex;
     justify-content: space-between;
}

.hamburger {
     height: 24px;
     margin-left: 24px;
     margin-right: 24px;
}

.youtube {
     height: 20px;
}

.search-svg {
     height: 25px;
}

.voice-search {
     height: 24px;
     margin-top: 4px;
}

.search-btn {
     height: 42px;
     padding-right: 3px;
     width: 70px;
     border-radius: 0px;
     padding-bottom: 5px;
     border-width: 1px;
     border-left: 0px;
     background-color: rgb(240, 239, 239);
     border-style: solid;
     border-color: rgba(156, 152, 152, 0.492);
     padding-left: 3px;
     padding-top: 8px;
}

.voice-btn {
     border-radius: 300px;
     border: 0;
     height: 40px;
     background-color: rgb(240, 239, 239);
     width: 42px;
     margin-left: 10px;
}
.text-box {
     flex: 1;
     height: 38px;
     padding-left: 10px;
     width: 0;
     margin-top: 1px;
     font-size: 16px;
     margin-left: 35px;
     color: rgba(255, 255, 255);
     border-radius: 3px;
     box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
     border-width: 1px;
     border-style: solid;
     border-color: rgba(156, 152, 152, 0.492);
}
.text-box::placeholder {
     font-family: Arial, Helvetica, sans-serif;
     padding-top: 5px;
     padding-bottom: 5px;
     font-size: 16px;
     
}

.upload-svg {
   height: 25px;
   
} 

.youtube-apps {
   height: 25px;
  
   
}

.notification-svg {
   height: 25px;
   
}

.user-svg {
     height: 30px;
     border-radius: 300px;
}

.notif {
     position: relative;
}

.notif-count {
     position: absolute;
     background-color: rgb(200, 0, 0);
     color: white;
     padding-left: 5px;
     padding-right: 5px;
     padding-top: 2px;
     padding-bottom: 2px;
     top: -2px;
     right: -5px;
     border-radius: 10px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 11px;
}