.header {
    height: 55px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.left-section {
     background-color: cornflowerblue;
     width: 150px;
}

.middle-section {
     background-color: antiquewhite;
     flex: 1;
     max-width: 500px;
     margin-left: 70px;
     margin-right: 30px;
}

.right-section {
     background-color: burlywood;
     width: 200px;
}